{% extends 'base.html' %}
{% load widget_tweaks %}

{% block head_script %}
<script>
	$(document).ready(function() {
		$("#id_username").focus();
	});

</script>
{% endblock head_script %}

{% block content %}

<div class="page login-page">
	<div class="container">
		<div class="form-outer text-center d-flex align-items-center">
			<div id="container-login-form" class="form-inner">
				<div class="logo text-uppercase"><span>CONSUL</span><strong class="text-primary">SYS</strong>
				</div>


				{% if messages %}
					{% for message in messages %}
					<div class="alert {{ message.tags }}" role="alert">
						{{ message }}
					</div>
					{% endfor %}
				{% endif %}

				<p>Ingrese sus credenciales</p>

				<form id="login-form" action="{% url 'login-controller' %}" method="post" novalidate>
					{% csrf_token %}
					{% with WIDGET_ERROR_CLASS='invalid' %}
					<div class="form-group">
						<label for="id_username" class="label-custom">{{ form.username.label}}</label>
						{% render_field form.username %}
					</div>
					<div class="form-group">
						<label for="id_password" class="label-custom">{{ form.password.label }}</label>
						{% render_field form.password %}
					</div>
					{% endwith %}
					<button type="submit" class="btn btn-primary">Login</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}